body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.login-container{
    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    background: #f0f2f5;
}

.login-card{

    align-items: center;
    width: 350px;

    background: white;

    padding: 50px;

    border-radius: 10px;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);

    text-align: center;
}

.login-card input{
    width: 100%;

    padding: 12px;

    margin-top: 10px;

    border-radius: 5px;

    border: 1px solid #ccc;

    box-sizing: border-box;
}

.login-card button{
    width: 100%;

    padding: 12px;

    margin-top: 15px;

    border: none;

    background: #007bff;

    color: white;

    border-radius: 5px;

    cursor: pointer;
}

.login-card button:hover{
    background: #0056b3;
}